.body {
    height: 100%;
    background-color: #172554;
}

.projects .rt-ContainerInner {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* Tablet or less width Screen */
@media screen and (max-width: 767px) {
    .projects .rt-ContainerInner {
        display: block;
    }
}
